.elements__delit {
  width: 18px;
  height: 19px;

  padding: 0;

  cursor:pointer;

  position: absolute;
  top: 20px;
  right: 20px;


  border: 0;

  background-image: url(../../../images/Group.svg);
  background-color: transparent;
}