.logo {
    width: 142px;
    height: 33px;

    background-image: url(../../images/Logo.svg);
    background-repeat: no-repeat;

    margin-bottom: 41px;
}

@media (max-width: 930px) {
  .header{
    max-width: 590px;
  }
}

@media (max-width: 320px) {
  .logo{
		max-width: 266px;

    margin: 19px 0 0 18px;

		width: 103px;
    height: 24px;
		
		background-size: cover;
  }
}