.header {
  margin: 0 auto 40px;

  padding-top: 45px;
  
  max-width: 880px;
  height: 74px;
}

@media (max-width: 930px) {
  .header{
    max-width: 590px;
  }
}

@media (max-width: 320px) {
  .header{
    padding-top: 26px;
    margin-bottom: 26px;
  }
}