@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);

@import url(../blocks/profile/__button-add/profile__button-add.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__img/element__img.css);
@import url(../blocks/elements/__grup/element__grup.css);
@import url(../blocks/elements/__text/element__text.css);
@import url(../blocks/elements/__grup-button/elements__grup-button.css);
@import url(../blocks/elements/__delit/elements__delit.css);
@import url(../blocks/elements/__grup-button/__grup-button_active/elements__grup-button_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/profile/__button-edit/profile__button-edit.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__buttom-close/popup__buttom-close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/_opened/popup_opened.css);


@import url(../blocks/popup/_type_foto/popup_type_foto.css);
@import url(../blocks/popup/__foto-container/popup__foto-container.css);
@import url(../blocks/popup/__foto/popup__foto.css);
@import url(../blocks/popup/__buttom-close_foto/foto__close.css);
@import url(../blocks/popup/__foto-title/popup__foto-title.css);

@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(../blocks/popup/__input-error-container/popup__input-error-container.css);

.gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.images{
    margin: auto;
    width:452px;
    height: 282px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/foto/42.png);
}

.link{
    margin-top: 40px;
    background: linear-gradient(to right, red, rgb(200, 255, 0));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    text-decoration: none;
    max-width: 90%;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    }